<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhIWno7f24SpBsOr5mKuQcDAv8y8kinCA</string>
	<key>GCM_SENDER_ID</key>
	<string>514802221636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterQuanLiTaiChinh.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quan-ly-chi-tieu-8dff9</string>
	<key>STORAGE_BUCKET</key>
	<string>quan-ly-chi-tieu-8dff9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514802221636:ios:9d28e0d4489646bcd97211</string>
</dict>
</plist>